//
   Created by wangzhaoyi on 16/7/8.

extends ../layout
block content
    div(class="col-sm-12 col-md-8" style="margin:auto")
        div(class="thumbnail")
            div(style="background: url(#{course['img_src']}) no-repeat center center;background-size:cover;;height:200px")
            div(class="caption" style="padding-left:30px")
                h3 #{course['course_name']}
                p 总课时: #{course['lesson_total']}
                p 介绍: #{course['introduction']}
                P 授课教师:
                    table(class="table table-hover" style="margin-top:30px;")
                        each item in teacher
                            tr
                                td
                                    a(href="/teacher/#{item['teacher_id']}",class="link",style="color:#222;font-size:16px")
                                        span(class="glyphicon glyphicon-folder-close")
                                        span(style="margin-left:10px;") #{item["name"]}
                p 学生:
                    table(class="table table-hover" style="margin-top:30px;")
                        each item in student
                            tr
                                td
                                    a(href="/student/#{item['student_id']}",class="link",style="color:#222;font-size:16px")
                                        span(class="glyphicon glyphicon-folder-close")
                                        span(style="margin-left:10px;") #{item["name"]}

    script(type='text/javascript').
        $('#side-class').attr({href: "/course/#{course['course_id']}"});
        $('#side-resource').attr({href: "/course/#{course['course_id']}/resource"});
        $('#side-assignment').attr({href: "/course/#{course['course_id']}/assignment"});
        $('#side-team').attr({href: "/course/#{course['course_id']}/team"});
