//
   Created by peter on 7/9/16.

extends layout
block content
    div(class="panel panel-default")
        div(div class="panel-heading")
            | 队伍详情
            if team.permission == "Teaming"
                .d-l.f-r
                    span(class="label label-default label-pill pull-xs-right label-line-center" style="background-color:blue") 队伍组队中
                .d-l.f-r
                    span(class="label pull-xs-right cus-btn" onClick="TeamApply('apply')") 申请
            else if team.permission=="Not Decided"
                .d-l.f-r
                    span(class="label label-default label-pill pull-xs-right label-line-center") 队伍待审核
                .d-l.f-r
                    span(class="label label-default label-pill pull-xs-right cus-btn cus-btn-disagree" onClick="TeamApply('cancel')") 取消申请
            else if team.permission=="Permitted"
                .d-l.f-r
                    span(class="label label-default label-pill pull-xs-right label-line-center" style="background-color:green") 队伍已通过
            else if team.permission=="Denied"
                .d-l.f-r
                    span(class="label label-default label-pill pull-xs-right label-line-center" style="background-color:red") 队伍被拒绝
                .d-l.f-r
                    span(class="label pull-xs-right cus-btn" onClick="TeamApply('apply')") 申请
        .panel-body
            | 队名: #{team.team_name}
        .panel-body
            | 所属课程: #{course.course_name}
        .panel-body
            | 队长: #{leader.name}

    div(class="panel panel-default")
        div(div class="panel-heading")
            | 申请列表
            .d-l.f-r
                span(class="label pull-xs-right cus-btn" data-toggle='modal', data-target='#myModal') 更换队长
        ul(class="list-group")
            each member in team_members
                li(class="list-group-item")

                    if member.accepted == "Not Decided"
                        span(class="label label-default label-pill pull-xs-right label-line-center") 待审
                        if student.student_id == leader.student_id
                            span(class="label label-default label-pill pull-xs-right cus-btn cus-btn-disagree" onClick="Check(#{member.student_id},'DENIED')") 拒绝
                            span(class="label label-default label-pill pull-xs-right cus-btn cus-btn-agree" onClick="Check(#{member.student_id},'ACCEPTED')") 通过
                    else if member.accepted == "Accepted"
                        span(class="label label-default label-pill pull-xs-right label-line-center" style="background-color:green") 通过
                        if student.student_id == leader.student_id
                            span(class="label label-default label-pill pull-xs-right cus-btn cus-btn-disagree" onClick="Check(#{member.student_id},'DENIED')") 拒绝
                    else if member.accepted == 'Denied'
                        span(class="label label-default label-pill pull-xs-right label-line-center" style="background-color:red") 拒绝
                        if student.student_id == leader.student_id
                            span(class="label label-default label-pill pull-xs-right cus-btn cus-btn-agree" onClick="Check(#{member.student_id},'ACCEPTED')") 通过

                    div(onclick="location.href='#'") #{member.name}

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 请选择队长
                .modal-body
                    form
                        for member in team_members
                            if member.accepted=="Accepted"
                                tr
                                    td(style="width:50px")
                                        input(type="radio" name="leader" value="#{member.student_id}")
                                    td
                                        a( class="link",style="color:#222;font-size:16px")
                                            span(style="margin-left:10px;")   #{member.name}
                                    br
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 关闭
                    button.btn.btn-primary(type='button' onclick="ChangeLeader()") 更换

    script(type='text/javascript').
        var TeamApply = function (action) {
            $.post("/course/#{course.course_id}/team/#{team.team_id}/team_apply/", {
                action: action
            }, function (data) {
                if (data.msg == "success") {
                    console.log("success");
                    location.reload();
                }
                else {
                    alert(data.msg);
                    location.reload();
                }
            })
        };
        var Check = function (student_id, accepted) {
            $.post("/course/#{course.course_id}/team/#{team.team_id}/student/"+student_id,{
                accepted: accepted
            }, function (data) {
                if(data.msg=="success"){
                    console.log("success");
                    location.reload();
                }
                else{
                    alert(data.msg);
                }
            })
        };
        var ChangeLeader = function () {
            $.post("/course/#{course.course_id}/team/#{team.team_id}/leader",{
                leader_id: $( "input:checked" ).val()
            }, function (data) {
                if (data.msg == "success") {
                    console.log("success");
                    location.reload();
                }
                else {
                    alert(data.msg);
                    location.reload();
                }
            });
        };