//
   Created by zhangxinru on 16/7/6.

extends ../layout
block content
    h3  软件开发实践：第#{lesson}次作业
    hr
    h4 作业详情
        a(class="link",style="font-size:12px;margin-left:10px",href="#") 修改>>
    div(class="col-lg-12",style="padding-left:0")
        div(class="col-lg-6",style="padding-left:0")
            table(class="table table-hover table-bordered")
                tr
                    td(class="assignment-title") 标题
                    td() 组队表
                tr
                    td(class="assignment-title") 作业说明
                    td 请大家在规定时间内提交组队申请表
                tr
                    td(class="assignment-title") 截止时间
                    td 2016-7-12 24:00:00
                tr
                    td(class="assignment-title") 当前状态
                    td 进行中
        div(class="col-lg-6")
    h4 学生作业提交情况
    table(class="table table-hover table-bordered" )
        thead
            td 选择
            td 名称
            td 提交时间
            td 提交状态
            td 操作
        each item,index in list
            tr
                td(style="width:50px")
                    input(type="checkbox")
                td
                    a(href="./#{params['assignment_id']}/team/#{item['team_id']}",class="link",style="color:#222;font-size:16px")
                        span(class="glyphicon glyphicon-folder-close")
                        span(style="margin-left:10px;")   Team #{index+1}
                td
                    span 2016-07-11 14:34:40
                td
                    span 已提交
                td
                    button(class="btn btn-default" style="border-radius:2px;padding:1px 5px;font-size:12px;") 下载
                    span &nbsp;&nbsp;
                    button(class="btn btn-default" data-toggle="modal" data-target="#mark" style="border-radius:2px;padding:1px 5px;font-size:12px;") 写评语
            div(class="modal fade",id="mark",tabindex="-1",role="dialog",aria-labelledby="markLabel" style="margin-top:100px")
                div( class="modal-dialog" role="document" )
                    div(class="modal-content" style="padding:20px")
                        div(class="modal-title")
                            h3 Team#{item['team_id']} 作业评分
                        div(class="modal-body")
                            p zhongwe
    button(class="btn btn-default") 下载选中作业

    script(type='text/javascript').
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });
