//
   Created by zhangxinru on 16/7/5.

extends layout

block side
        each item in list
            //div(class="row")
            div(class="col-sm-6 col-md-4")
                div(class="thumbnail")
                    img(src="#{item['img_src']}" alt="...")
                    div(class="caption")
                        h3 #{item['course_name']}
                        p 总课时: #{item['lesson_total']}
                        p 介绍: #{item['introduction']}
                    div(style="text-align:center")
                        a(href="/course/#{item['course_id']}" class="btn btn-primary" role="button") 进入
